/*
	Color lateral: 	#19BCB9;
	Fondo del sitio:#F6F6F6; 	
*/

body, html{
	height:100%;
	background-color: #F6F6F6;

}
.separador{
	height:5px;
}
.container{
	width:1000px; /*probar con algún otro, este por ahora anda bien*/
}
.lateral{
	background-color: #19BCB9;	
}

.copyright{
	font-size: 10px;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
#rootContainer{
	padding-right: 10px;
	padding-left: 10px;
}
.categorias{
	background-color: #19BCB9;
	height: 275px;
}
#limheight{	
	height: 250px;
	-webkit-column-count: 6;
    -moz-column-count: 6;
	column-count: 6;
}
#limheight li{	
	font-size: 10px;
	display: block;;
	padding-bottom: 3px;
}
#limheight li a{
	color: #F6F6F6 !important;
}
.titulitos-cont{
	clear:both;
}
.titulitos{
	color:#568EC9;
	margin-bottom: 5px;
	display:block;
	width:85%;
	border-bottom: 1px solid #888;
}